#home {
	background: #ffc107;
	color: white;
}

body{
	background-color: #f0f0f0;
}

.justify{
	text-align: justify;
}


.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5 ;
}
.p-icon{
	padding: 1px;
}

.espacamento{
	margin-left: 150px;
}

footer p a{
	margin: 5px 15px;
}
